@section Styles
{
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/barfiller.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/bootstrap.min.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/elegant-icons.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/flaticon.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/magnific-popup.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/nice-select.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/slicknav.min.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/style.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/owl.carousel.min.css" rel="stylesheet" />
    <style>
        body{
            background-color: rgba(12, 11, 9, 0.3);
        }
        section{
            margin: 50px;
        }
        #header{
            margin: 0px;
        }

        #header .cartPrice{
            color: white;
        }

        #header .cartPrice:hover{
            color: orange;
        }
    </style>
}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center" >
	<div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
		<h1 class="logo me-auto me-lg-0"><a href="#">享食點餐趣</a></h1>
        <div class="cart__price" style="color: white;">消費金額: <span style="color: white;">$0.00</span></div>
        <a asp-controller="ShoppingCart" class="cartPrice"><i class="fa fa-shopping-cart" style="font-size: 24px;"></i></a>
	</div>
</header>


<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="shop__option__search">
                        <form action="#" style="border:none">
                            <div class="shop__last__option">
                                <div class="row" >
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="shop__pagination shop__pagination d-flex justify-content-between">
                                            <a href="#" class="flex-fill">沙拉</a>
                                            <a href="#" class="flex-fill">麵包</a>
                                            <a href="#" class="flex-fill">主食</a>
                                            <a href="#" class="flex-fill">湯品</a>
                                            <a href="#" class="flex-fill">甜點</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3);">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/bread-barrel.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3)">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/caesar.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cookies and Cream</a></h6>
                        <div class="product__item__price">$30.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3)">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/cake.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Gluten Free Mini Dozen</a></h6>
                        <div class="product__item__price">$31.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3)">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/greek-salad.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cookie Dough</a></h6>
                        <div class="product__item__price">$25.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3)">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/lobster-bisque.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Vanilla Salted Caramel</a></h6>
                        <div class="product__item__price">$05.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3)">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/lobster-roll.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">German Chocolate</a></h6>
                        <div class="product__item__price">$14.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3)">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/mozzarella.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Dulce De Leche</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3)">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/spinach-salad.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Mississippi Mud</a></h6>
                        <div class="product__item__price">$08.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" style="border: 3px solid wheat; background-color: rgba(12, 11, 9, 0.3)">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/menu/tuscan-grilled.jpg" style="width:200px; border-radius:15px; margin: 15px;" />
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">VEGAN/GLUTEN FREE</a></h6>
                        <div class="product__item__price">$98.85</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>
</section>


@section Scripts
{
	<script src="~/orderforhere/startorderjs/bootstrap.min.js"></script>
    <script src="~/orderforhere/startorderjs/jquery-3.3.1.min.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.barfiller.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.magnific-popup.min.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.nicescroll.min.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.slicknav.js"></script>
    <script src="~/orderforhere/startorderjs/jquery.nice-select.min.js"></script>
	<script src="~/orderforhere/startorderjs/main.js"></script>
	<script src="~/orderforhere/startorderjs/owl.carousel.min.js"></script>
}