@section Styles
	{
	<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/barfiller.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/bootstrap.min.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/elegant-icons.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/flaticon.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/magnific-popup.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/nice-select.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/slicknav.min.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/style.css" rel="stylesheet" />
	<link href="~/orderforhere/startordercss/owl.carousel.min.css" rel="stylesheet" />
	<style>
		body {
			background-color: rgba(12, 11, 9, 0.3);
		}

		section {
			margin: 50px;
		}

		#header {
			margin: 0px;
		}

		.spad{
			padding-top: 10px;
		}

		.pb-3{
			margin: -50px;
		}

		.cart__discount h6 {
			color: #111111;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 12px;
		}

		.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty .qtybtn {
			font-size: 18px;
			color: #888888;
			width: 10px;
			cursor: pointer;
			font-weight: 500;
		}

		.primary-btn:hover{
			background-color: brown;
		}

		.coupon:hover{
			background-color: brown;
		}

		.continue__btn :hover {
			background-color: brown;
			color: white;
		}

		.continue__btn a:hover {
			background-color: brown;
			color: white;
		}

		.update__btn a:hover {
			background-color: darkred;
			color: white;
		}

		.shopping__cart__table table tbody tr td.cart__close span:hover {
			background-color: black;
			color: white;
		}
	</style>
}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
	<div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
		<h1 class="logo me-auto me-lg-0"><a href="#">享食點餐趣</a></h1>
	</div>
</header>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="breadcrumb__text" style="margin-top:20px;">
					<h2 style="padding-top: 50px; margin-left: 35px;">餐點確認</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="shopping__cart__table">
					<table>
						<thead>
							<tr>
								<th style="font-size:24px;">已選購</th>
								<th style="font-size:24px;">數量</th>
								<th style="font-size:24px;">總價</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="product__cart__item">
									<div class="product__cart__item__pic">
										<img src="~/img/menu/bread-barrel.jpg" style="width:200px; border-radius:15px" />
									</div>
									<div class="product__cart__item__text">
										<h6>T-shirt Contrast Pocket</h6>
										<h5>$98.49</h5>
									</div>
								</td>
								<td class="quantity__item">
									<div class="quantity">
										<div class="pro-qty">
											<span class="dec qtybtn" style="color:white">-</span>
											<input type="text" value="1" style="background-color:rgba(12, 11, 9, 0.1); width:50px">
											<span class="inc qtybtn" style="color:white">+</span>
										</div>
									</div>
								</td>
								<td class="cart__price">$98.49</td>
								<td class="cart__close"><span><i class="fa fa-close"></i></span></td>
							</tr>
							<tr>
								<td class="product__cart__item">
									<div class="product__cart__item__pic">
										<img src="~/img/menu/caesar.jpg" style="width:200px; border-radius:15px" />
									</div>
									<div class="product__cart__item__text">
										<h6>Diagonal Textured Cap</h6>
										<h5>$55.80</h5>
									</div>
								</td>
								<td class="quantity__item">
									<div class="quantity">
										<div class="pro-qty">
											<span class="dec qtybtn" style="color:white">-</span>
											<input type="text" value="1" style="background-color:rgba(12, 11, 9, 0.1); width:50px">
											<span class="inc qtybtn" style="color:white">+</span>
										</div>
									</div>
								</td>
								<td class="cart__price">$ 55.80</td>
								<td class="cart__close"><span><i class="fa fa-close"></i></span></td>
							</tr>
							<tr>
								<td class="product__cart__item">
									<div class="product__cart__item__pic">
										<img src="~/img/menu/cake.jpg" style="width:200px; border-radius:15px" />
									</div>
									<div class="product__cart__item__text">
										<h6>Basic Flowing Scarf</h6>
										<h5>$147.00</h5>
									</div>
								</td>
								<td class="quantity__item">
									<div class="quantity">
										<div class="pro-qty">
											<span class="dec qtybtn" style="color:white">-</span>
											<input type="text" value="1" style="background-color:rgba(12, 11, 9, 0.1); width:50px">
											<span class="inc qtybtn" style="color:white">+</span>
										</div>
									</div>
								</td>
								<td class="cart__price">$147.00</td>
								<td class="cart__close"><span><i class="fa fa-close"></i></span></td>
							</tr>
							<tr>
								
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="continue__btn">
							<a asp-controller="StartOrder" asp-action="Index">繼續選購</a>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="continue__btn update__btn">
							<a href="#" class="continue__btn" >清空購物車</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="cart__discount">
					<h4 style="padding-top: 10px; padding-bottom:5px; color:black">優惠碼</h4>
					<form action="#">
						<input type="text" placeholder="Coupon code">
						<button type="submit" class="coupon">使用</button>
					</form>
				</div>
				<div class="cart__total">
					<a href="#" class="primary-btn">提交訂單</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Shopping Cart Section End -->
@section Scripts
	{
	<script src="~/orderforhere/startorderjs/bootstrap.min.js"></script>
	<script src="~/orderforhere/startorderjs/jquery-3.3.1.min.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.barfiller.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.magnific-popup.min.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.nicescroll.min.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.slicknav.js"></script>
	<script src="~/orderforhere/startorderjs/jquery.nice-select.min.js"></script>
	<script src="~/orderforhere/startorderjs/owl.carousel.min.js"></script>
	<script src="~/orderforhere/startorderjs/main.js"></script>
}