@section Styles{
    <link href="~/css/Reservations.css" rel="stylesheet" />
}

<main id="main">
      <!-- ======= Book A Table Section ======= -->
      <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>立即訂位</h2>
            <label>訂位</label>
          </div>
          <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                <div class="row">
                    <label>用餐人數</label>
                    <div class="col-lg-4 col-md-6 form-group d-flex">
                        <select name="" id="adultPicker" class="book-a-table form-control form-select">
                            <option value="" disabled>請選擇用餐人數</option>
                            <option value="1">1位大人</option>
                            <option value="2">2位大人</option>
                            <option value="3">3位大人</option>
                            <option value="4">4位大人</option>
                            <option value="5">5位大人</option>
                        </select>
                        <select name="" id="kidPicker" class="book-a-table form-control form-select">
                            <option value="1">0位小孩</option>
                            <option value="1">1位小孩</option>
                            <option value="2">2位小孩</option>
                            <option value="3">3位小孩</option>
                            <option value="4">4位小孩</option>
                            <option value="5">5位小孩</option>
                        </select>
                    </div>
                </div>
                <label>用餐日期</label>
                <!-- 月曆這邊要調整 -->
                <div class="col-lg-2 col-md-6 form-group" id="mealTimePicker">
                    <select name="" id="mealdate" class="book-a-table form-control"></select>
                </div>
                <div id="calendar">
                    <div class="col-lg-4 col-md-6 form-group d-flex"></div>
                    <span><script type='text/javascript' src='./calendar.js'></script></span>
                    <!-- <span><script type='text/javascript' src='./calendar.js'></script></span> -->
                </div>
                <label>用餐時段</label>
                <div class="col-lg-2 col-md-6 form-group" id="mealTimePicker">
                    <select name="time" id="mealTime" class="book-a-table form-control">
                        <option value="" disabled>請選擇用餐時段</option>
                        <option value="">11:00</option>
                        <option value="">13:00</option>
                        <option value="">15:00</option>
                        <option value="">17:00</option>
                        <option value="">19:00</option>
                    </select>
                </div>
                <br>
                <label>餐廳位置</label>
                <br>
                <div data-aos="fade-up">
                    <iframe style="border: 0; width: 50%; height: 250px"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                            frameborder="0" allowfullscreen>
                    </iframe>
                </div>
                <div id="finalReservation">
                    <div class="form-group">
                        <div aria-hidden="true" id="yourReservation">
                            <label for="text">您已選擇預訂</label>
                            <span><button id="adultShow">大人</button></span>
                            <span><button id="kidShow">小孩</button></span>
                            <span><img src="/right-arrow.png" alt="" id="rightArrow"></span>
                            <span><button id="dateShow">訂位日期</button></span>
                            <span><img src="/right-arrow.png" alt="" id="rightArrow"></span>
                            <span><button id="timeShow">訂位時段</button></span>
                        </div>
                        <div class="text-center book-a-table php-email-form " id="reservationNext">
                            <button type="submit" id="reservationNow">下一步，填寫聯絡資訊</button>
                        </div>
                    </div>
                </div>
          </form>
        </div>
    </section>
</main>
     <!-- End Book A Table Section -->
    @section Scripts{
    @*<script src="~js/Reservations.js"></script>*@
    }


