@section Styles{
    <link href="~/css/reservations.css" rel="stylesheet" />
    <style>

        .modal-content {
            color: black;
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        #noticeRule {
            justify-content: space-around;
        }

        .modal-content i {
            color: #D8CDB9;
        }

        .button-content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        #ruleContainer li, #ruleContainer p {
            text-align: left;
            margin-bottom: 0;
        }

        #adultPicker, #kidPicker {
            margin: 10px;
            border-radius: 0;
            box-shadow: none;
            background: #0c0b09;
            border-color: #625b4b;
            color: #625b4b;
            font-size: 14px;
            height:44px;
        }

        #location{
        margin-bottom:15px;
        }

    </style>
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.css">
<main id="main">
    <div id="d1">
        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>立即訂位</h2>
                    <p>訂位</p>
                </div>
                <form role="form"
                      class="php-email-form"
                      data-aos="fade-up"
                      data-aos-delay="100">

                    <div class="row">
                        <label>用餐人數</label>
                        <div class="col-lg-6 form-group d-flex">
                            <select name="" id="adultPicker" class="form-control php-email-form" v-model="adultNumber" required>
                                <option value="" disabled selected>請選擇大人人數</option>
                                <template>
                                    <option :value="ad.value" v-for="ad in adultPicker">{{ad.txt}}</option>
                                </template>
                            </select>
                            <select name="" id="kidPicker" class="form-control php-email-form" v-model="kidNumber">
                                <option value="" disabled selected>請選擇小孩人數</option>
                                <template>
                                    <option :value="k.value" v-for="k in kidPicker">{{k.txt}}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 form-group d-flex row">
                        <!-- datepicke -->
                        <label for="datepicker">用餐日期</label>
                        <div id="d1" class="">
                            <!-- datepicker -->
                            <date-picker v-model="ReserveDate"
                                         value-type="format"
                                         name="ReserveDate"
                                         id="datepicker"
                                         class="datepicker p-0  form-control php-email-form "
                                         placeholder="請選擇用餐日期"
                                         :disabled-date="disablerange">
                            </date-picker>
                        </div>
                    </div>
                    <div class="col-lg-6 form-group d-flex row">
                        <label >用餐時段</label>
                        <div id="mealTimePicker" class="">
                            <select name="time" id="mealTimePicker" class=" form-control " v-model="mealTime">
                                <option value="" disabled selected>請選擇用餐時段</option>
                                <template>
                                    <option :value="mt.value" v-for="mt in mealTimePicker">{{mt.txt}}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <br />
                    <label id="location">餐廳位置</label>
                    <br />
                    <div data-aos="fade-up">
                        <iframe style="border: 0; width: 50%; height: 250px"
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                                frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                </form>
            </div>
        </section>

        <footer class="footer">
            <div class="form-group fixed-footer-content" id="finalReservation">
                <div aria-hidden="true" id="yourReservation">
                    <p for="text">您已選擇預訂</p>
                    <span>
                        <template v-if="adultNumber==''">
                            <button id="adultShow">大人人數</button>
                        </template>
                        <template v-else>
                            <button id="adultShow">{{adultNumber}}</button>
                        </template>
                    </span>
                    <span>
                        <template v-if="kidNumber==''">
                            <button id="kidShow">小孩人數</button>
                        </template>
                        <template v-else>
                            <button id="kidShow">{{kidNumber}}</button>
                        </template>
                    </span>
                    <span><img src="~/img/right-arrow.png" alt="" id="rightArrow" /></span>
                    <span>
                        <template v-if="ReserveDate!=null">
                            <button id="dateShow">{{ReserveDate}}</button>
                        </template>
                        <template v-else>
                            <button id="dateShow">訂位日期</button>
                        </template>
                    </span>
                    <span><img src="~/img/right-arrow.png" alt="" id="rightArrow" /></span>
                    <span>
                        <template v-if="mealTime==''">
                            <button id="timeShow">訂位時段</button>
                        </template>
                        <template v-else>
                            <button id="timeShow">{{mealTime}}</button>
                        </template>
                    </span>
                </div>

                <div class="text-center book-a-table php-email-form " id="reservationNext">
                    <button type="button" id="show" :disabled="disSet" :class="disClass" data-bs-toggle="modal" data-bs-target="#infoModal">
                        下一步，填寫聯絡資訊
                    </button>
                </div>

                <div class="modal fade text-center book-a-table php-email-form" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" @@hidden="handleModalClose">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id=" houseRule">規則與注意事項</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span class="button-content">
                                        <i class="fa-solid fa-xmark"></i>
                                    </span>
                                </button>

                            </div>
                            <div class="modal-body">
                                <template>
                                    <div id="ruleContainer">
                                        <h5>【預約時的注意事項】</h5>
                                        <ul>
                                            <li>餐廳接受一個月內的線上訂位。</li>
                                            <li>用餐時間120分鐘。</li>
                                            <li>只為有效聯絡電話之預訂保留座位。</li>
                                            <li>於線上訂位成功後，若餐廳無法聯繫上訂位人做訂位確認時，本餐廳將保有取消其訂位之權利。</li>
                                            <li>為確保客人用餐權益，若需取消或更改訂位，請提前告知。</li>
                                            <li>訂位將保留15分鐘，若逾時將自動取消訂位。</li>
                                            <li>線上預訂系統將自動安排座位，如需指定座位請致電至餐廳。</li>
                                            <li>特殊節日恕不接受線上預訂。</li>
                                            <li>本餐廳保留條款內容變更與解釋、暫停或終止本線上訂位之權利。</li>
                                            <p>服裝儀容：</p>
                                            <li>賓客請避免穿著拖鞋，男士請避免穿著無袖背心</li>
                                        </ul>
                                    </div>
                                </template>
                            </div>
                            <div class="modal-footer" id="noticeRule">
                                <button id="confirmRulebBtn" type="button" @@click="next" class="btn btn-secondary" data-bs-dismiss="modal">我已閱讀並同意規則與注意事項</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>
<!-- End Book A Table Section -->
@section Scripts
    {
    <script src="~/axios/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.js"></script>
    <script>

        baseAddress = "https://localhost:7071";
        let app = new Vue({
            el: "#d1",
            data: {
                showDialog: false,
                showmodal: false,
                ReserveDate: null,
                adultNumber: '',
                kidNumber: '',
                mealTime: '',
                dis: null,
                disColor: "",
                adultPicker: [
                    { value: '1位大人', txt: '1位大人' },
                    { value: '2位大人', txt: '2位大人' },
                    { value: '3位大人', txt: '3位大人' },
                    { value: '4位大人', txt: '4位大人' },
                    { value: '5位大人', txt: '5位大人' }],
                kidPicker: [
                    { value: '0位小孩', txt: '0位小孩' },
                    { value: '1位小孩', txt: '1位小孩' },
                    { value: '2位小孩', txt: '2位小孩' },
                    { value: '3位小孩', txt: '3位小孩' },
                    { value: '4位小孩', txt: '4位小孩' }],
                mealTimePicker: [
                    { value: "11:00", txt: '11:00' },
                    { value: "13:00", txt: '13:00' },
                    { value: "15:00", txt: '15:00' },
                    { value: "17:00", txt: '17:00' },
                    { value: "19:00", txt: '19:00' }],
            },
            computed: {
                disSet: function () {
                    if (this.adultNumber == '' || this.kidNumber == '' || this.ReserveDate == null || this.mealTime == '') {
                        this.disColor = "nono";
                        return this.dis = true;
                    }
                    else {
                        return this.dis = false
                    }
                },
                disClass: function () {
                    if (this.adultNumber == '' || this.kidNumber == '' || this.ReserveDate == null || this.mealTime == '') {
                        return this.disColor = "nono btn btn-primary";
                    }
                    else {
                        return this.disColor = "btn btn-primary"
                    }
                },
            },
            methods: {
                handleModalClose: function () {
                    document.body.classList.add('modal-closed');
                },
                disablerange: function (date) {
                    var today = new Date();
                    today.setHours(0, 0, 0, 0);
                    var mindate = new Date(today.getTime() + 1 * 24 * 3600 * 1000);
                    var maxdate = new Date(today.getTime() + 30 * 24 * 3600 * 1000);

                    return date < mindate || date > maxdate;
                },
                next: function () {
                    let _this = this;
                    var request = {
                        ReservationDate: _this.ReserveDate,
                        NumberofAdultGuest: _this.adultNumber,
                        NumberofKidGuest: _this.kidNumber,
                        ReservationTime: _this.mealTime,
                    }
                    if (this.adultNumber != '' || this.kidNumber != '' || this.ReserveDate != null || this.mealTime != '') {
                        axios.post("/api/reservation/PostReservation", request)
                            .then(
                                response => {
                                    let id = response.data.reserveId;
                                    window.location.href = `Reservations/booking?ReserveId=${id}`
                                })
                    }
                },
            },
        });
    </script>
    }