<main id="main">
<div class="container alert-area col-10">
    <p>訂位成功</p>
    <p>訂位詳細資訊已寄送到您的電子信箱</p>
</div>
<br>
<div class="container check-area col-10 col-xl-4">
    <div class="check-title">
        <p class="username"></p>
        <p>您好，以下為訂位資訊：</p>
    </div>
    <hr>
    <div class="booking-detail">
        <p class="booking-date">2023/02/02</p>
        <p class="booking-people">3位大人</p>
    </div>
    <hr>
    <div class="store-detial">
        <p>店家名稱</p>
        <a href="tel:0233221368">02 3322 1368</a><br />
        <a href="https://goo.gl/maps/VARMRkiZqDQLhgWbA">100 台北市中正區濟南路一段321號</a>
    </div>
    <div class="check-btn">
        <div class="row m-0">
            <!--<button class="col m-1 btn-cancel" type="button">取消預定</button>-->
            <a class="col m-1 btn-menu" href="/Menu/Signature">看菜單</a>
        </div>
    </div>
</div>
</main>