@section Styles{
    <link href="~/css/reservations.css" rel="stylesheet" />
}

<!-- d-flex align-items-center -->
<div class="container" id="bookedConfirm">
    <div>
        <div class="flex-shrink-0" style="text-align:center">
            <p><img src="~/img/success.png" id="successicon" />您已訂位成功，訂位詳細資訊已寄至您的信箱!</p>
        </div>
    </div>
</div>
<div class="php-email-form" data-aos="fade-up" data-aos-delay="100">
    <main id="main">
        <div id="bookConfirmInformation">
            <div class="container" id="bookedConfirm">
                <div>
                    <div class="flex-shrink-0" style="text-align:center">
                        <h6>{{reserveInfo[0].reservationName}}小姐/先生您好，以下為您的訂位資訊</h6>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2  mx-auto">
                <div id="bookedInfornations">
                    <div>
                        <label id="bookDate">訂位日期:</label>
                        <span>{{formatDate()}}</span>
                    </div>
                    <div>
                        <label id="bookPeriod">訂位時段:</label>
                        <span>{{this.reserveInfo[0].reservationTime}}</span>
                    </div>
                    <div>
                        <label id="bookNumber">用餐人數:</label>
                        <span>{{reserveInfo[0].numberofAdultGuest}}, {{reserveInfo[0].numberofKidGuest}}</span>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-grid gap-2 mx-auto">
                <div id="ETInformation">
                    <div>
                        <h5> 享食高級餐廳</h5>
                    </div>
                    <div>
                        <span>
                            <img src="~/img/location.png" id="locationIcon" />
                            <span>
                                新北市 中和區 ,
                                灝文家
                            </span>
                        </span>
                    </div>
                    <div>
                        <img src="~/img/phone.png" id="phoneIcon" />
                        <span>02 1234-6789</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- End #main -->
@section Scripts{
    <script src="/axios/axios.min.js"></script>
    <script>
        let app = new Vue({
            el: '#bookConfirmInformation',
            data: {
                reserveInfo: [],
                reserveId: 0,
            },
            methods: {
                //日期呈現
                formatDate: function () {
                    let date = new Date(this.reserveInfo[0].reservationDate);
                    this.reserveInfo[0].reservationDate = date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0')
                    return this.reserveInfo[0].reservationDate;
                },
            },
            mounted:
                function () {
                    let _this = this;
                    let searchString = window.location.search.replace("?", "");
                    let value = searchString.split('=')[1];
                    _this.reserveId = parseInt(value);
                    axios.get("/api/reservation/GetReservationInformation?reserveId=" + value).then(response => {
                        _this.reserveInfo = response.data;
                        //_this.reserveId = value;
                        //_this.reserveInfo = _this.reserveInfo.filter(reserve => reserve.reserveId == _this.reserveId)
                        //return _this.reserveInfo
                    });
                },
        })
    </script>
}