@model IEnumerable<EnjoyEat.Models.ViewModel.MemberViewModel>

@section Styles{
    <link href="~/css/membermanagement.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<!-- =======MemberManagement navbar  Section ======= -->
<div id="member" v-cloak>
    <nav>


        <div id="memberNavbar" class="d-flex">
            <h5 id="userName">{{ memberInfo.firstName }}{{ memberInfo.lastName }}您好</h5>
            <button class="btn" @@click="update">
                登出
                <span class="first"></span>
                <span class="second"></span>
                <span class="third"></span>
                <span class="fourth"></span>
            </button>
        </div>
    </nav>
    <!-- End navbar -->

    <main id="main">
        <div class="container">
            <!-- ======= MemberInformation Section ======= -->
            @*原本是why-us*@
            <section id="why-us" class="why-us">
                <div class="container" data-aos="fade-up">

                    <div class="section-title d-flex">
                        <h2>會員資訊</h2>
                        <div class="d-flex modify">
                            <button class="btn">
                                修改會員資料
                                <span class="first"></span>
                                <span class="second"></span>
                                <span class="third"></span>
                                <span class="fourth"></span>
                            </button>
                            <button class="btn">
                                重新設定密碼
                                <span class="first"></span>
                                <span class="second"></span>
                                <span class="third"></span>
                                <span class="fourth"></span>
                            </button>
                        </div>
                    </div>

                    <!--memberdata-->
                    <div class="row">

                        <div class="col-lg-2">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                會員編號:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                {{ memberInfo.memberId }}
                            </div>
                        </div>

                        <div class="col-lg-2 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                聯絡電話:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                {{ memberInfo.phone }}
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                姓名:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                {{ memberInfo.firstName }}{{ memberInfo.lastName }}
                            </div>
                        </div>

                        <div class="col-lg-2 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                通訊地址:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                {{ memberInfo.address }}
                            </div>
                        </div><div class="col-lg-2">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                出生日期:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                {{ memberInfo.birthday }}
                            </div>
                        </div>

                        <div class="col-lg-2 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                Email:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                {{ memberInfo.email }}
                            </div>
                        </div>

                        <div class="col-lg-2 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                性別:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="100">
                                {{ memberInfo.gender }}
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End MemberInformation Section -->
            <!--MemberLevel section-->
            <section id="top-ten" class="top-ten">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>會員等級</h2>
                    </div>

                    <!--會員等級設定-->
                    <div class="memberLevelContent">
                        <div class="row">

                            <div class="circle col-lg-3">
                                <img src="~/img/specials-4.png" />
                            </div>

                            <div class="col-lg-9 d-flex">
                                <div class="row">
                                    <div class="col-lg-6">您的會員等級:</div>
                                    <div class="col-lg-3">{{upgradeLev}}</div>

                                    <div class="col-lg-6">累積消費金額:</div>
                                    <div class="col-lg-6">${{countPrice}}元</div>
                                </div>
                            </div>

                            <h3 id="bar">累計進度bar</h3>
                            <div>
                                <div class="progressWrapper">
                                    <progress id="progress" :value="countPrice" :max="upgradeVal"></progress>
                                    <div class="progressLabels">
                                        <span>0</span>
                                        <span>{{upgradeVal}}</span>
                                    </div>
                                    {{dataContent}}
                                </div>
                                <div class="dataContent col-lg-8"></div>
                                <h3>折扣率:{{memberInfo.levelDiscount}}</h3>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <!--MemberLevel section end-->
            <!-- ======= OrderHistory Section ======= -->
            <section id="events" class="events">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>會員歷史訂單</h2>
                    </div>


                    <table class="table" id="CustomersTable">
                        <thead>
                            <tr>
                                <th>
                                    訂單編號
                                </th>
                                <th>
                                    訂單日期
                                </th>
                                <th>
                                    訂單金額
                                </th>
                                <th>
                                    付款方式
                                </th>
                                <th>
                                    桌號
                                </th>
                                <th>
                                    餐點明細
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="order in memberInfo.orders">
                                <td>
                                    {{order.orderId}}
                                </td>
                                <td>
                                    {{order.orderDate}}
                                </td>
                                <td>
                                    {{order.totalPrice}}
                                </td>
                                <td v-if="order.isTakeway">
                                    外帶
                                </td>
                                <td v-else>
                                    內用
                                </td>
                                <td>
                                    {{order.tableId}}
                                </td>
                                <td>
                                    <!-- Modal 展開 -->
                                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalId">
                                        展開
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalTitleId">餐點明細</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        Add rows here
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </section><!-- End Events Section -->

        </div>

    </main><!-- End #main -->

</div>


@section Scripts {

    <script>
        var app = new Vue({
            el: '#member',
            data: {
                memberInfo: [],
                price: 0,
                upgradeValue: 0,
                remainingValue: 0,
            },
            computed: {
                //進度條計算
                countPrice: function () {
                    for (let order of this.memberInfo.orders) {
                        this.price += order.totalPrice;
                    }
                    return this.price;
                },
                dataContent: function () {
                    this.remainingValue = this.upgradeValue - this.price;
                    return this.remainingValue > 0 ? `還需消費 ${this.remainingValue} 元才能升級至下一個階級` : "已達到最高等級";
                },
                //等級計算
                upgradeLev: function () {
                    if (this.price < 10000) {
                        this.memberInfo.levelDiscount = 0.95;
                        return this.memberInfo.levelName = "平民";
                    } else if (this.price >= 10000 && this.price < 20000) {
                        this.memberInfo.levelDiscount = 0.9;
                        return this.memberInfo.levelName = "貴族";
                    } else {
                        this.memberInfo.levelDiscount = 0.8;
                        return this.memberInfo.levelName = "皇家";
                    }
                },
                upgradeVal: function () {
                    if (this.memberInfo.levelName === "平民") {
                        return this.upgradeValue = 10000;
                    } else {
                        return this.upgradeValue = 20000;
                    }
                },
            },
            methods:{
                update:function(){
                    var request = {
                    LevelName: this.memberInfo.levelName,
                    levelDiscount: this.memberInfo.levelDiscount
                };
                    axios.put("https://localhost:7071/api/member/EditMember", request)
                    .then(response=>alert(response.data))
                }
            },
            mounted:
                function () {
                    let _this = this;
                    axios.get("https://localhost:7071/api/member/GetMember")
                        .then(response => {
                            _this.memberInfo = response.data
                        })
                }
        });

    </script>
}