@model IEnumerable<EnjoyEat.Models.ViewModel.MemberViewModel>

@section Styles{
    <link href="~/css/membermanagement.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<!-- =======MemberManagement navbar  Section ======= -->
<div id="member" v-cloak>
    <nav>
        <div id="memberNavbar" class="d-flex">
            <h5 id="userName">{{fullName}}您好</h5>
        </div>
    </nav>
    <!-- End navbar -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" @@hidden="handleModalClose">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">餐點明細</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <template v-for="order in orderInfo" :key="order.orderId">
                        <div>
                            <ul class="list my-3">
                                <li>產品名稱:{{order.productName}}</li>
                                <li>數量:{{order.quantity}}份</li>
                                <li>單價:{{order.unitPrice}}元</li>
                                <li>小計金額:{{order.subtotalPrice}}元</li>
                            </ul>
                        </div>
                        <hr />
                    </template>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉明細</button>
                </div>
            </div>
        </div>
    </div>

    <main id="main">
        <div class="container">
            <!-- ======= MemberInformation Section ======= -->
            @*原本是why-us*@
            <section id="why-us" class="why-us">
                <div class="container" data-aos="fade-up">

                    <div class="section-title d-flex">
                        <h2>會員資訊</h2>
                        <div class="d-flex modify">
                            <button class="btn" @@click="modify">
                                {{buttonText}}
                                <span class="first"></span>
                                <span class="second"></span>
                                <span class="third"></span>
                                <span class="fourth"></span>
                            </button>
                            <button class="btn">
                                重新設定密碼
                                <span class="first"></span>
                                <span class="second"></span>
                                <span class="third"></span>
                                <span class="fourth"></span>
                            </button>
                        </div>
                    </div>

                    <!--memberdata-->
                    <div class="row">

                        <div class="col-lg-2">
                            <div class="box" data-aos="zoom-in" >
                                會員編號:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <input class="box noedit" data-aos="zoom-in"  :value="memberInfo.memberId" disabled />
                        </div>

                        <div class="col-lg-2 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" >
                                聯絡電話:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <input :class="editClass" data-aos="zoom-in"  v-model="memberInfo.phone" :value="memberInfo.phone" :disabled="dis" />
                        </div>

                        <div class="col-lg-2">
                            <div class="box" data-aos="zoom-in" data-aos-delay="150">
                                姓:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <input :class="editClass" data-aos="zoom-in" data-aos-delay="150" v-model="memberInfo.lastName" :value="memberInfo.lastName" :disabled="dis" />
                        </div>

                        <div class="col-lg-2">
                            <div class="box" data-aos="zoom-in" data-aos-delay="150">
                                名:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <input :class="editClass" data-aos="zoom-in" data-aos-delay="150" v-model="memberInfo.firstName" :value="memberInfo.firstName" :disabled="dis" />
                        </div>

                        <div class="col-lg-2 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="200">
                                通訊地址:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <input :class="editClass" data-aos="zoom-in" data-aos-delay="200" v-model="memberInfo.address" :value="memberInfo.address" :disabled="dis" />
                        </div>

                        <div class="col-lg-2">
                            <div class="box" data-aos="zoom-in" data-aos-delay="200">
                                出生日期:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <input :class="editClass" data-aos="zoom-in" data-aos-delay="200" v-model="memberInfo.birthday" :value="formatDate()" :disabled="dis" />
                        </div>

                        <div class="col-lg-2 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="250">
                                Email:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <input :class="editClass" data-aos="zoom-in" data-aos-delay="250" v-model="memberInfo.email" :value="memberInfo.email" :disabled="dis" />
                        </div>

                        <div class="col-lg-2 mt-4 mt-lg-0">
                            <div class="box" data-aos="zoom-in" data-aos-delay="250">
                                性別:
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <input :class="editClass" data-aos="zoom-in" data-aos-delay="250" v-model="memberInfo.gender" :value="memberInfo.gender" :disabled="dis" />
                        </div>

                    </div>

                </div>
            </section><!-- End MemberInformation Section -->
            <!--MemberLevel section-->
            <section id="top-ten" class="top-ten">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>會員等級</h2>
                    </div>

                    <!--會員等級設定-->
                    <div class="memberLevelContent">
                        <div class="row">

                            <div class="circle col-lg-3">
                                <img src="~/img/specials-4.png" />
                            </div>

                            <div id="x" class="col-lg-9 d-flex">
                                <div class="row">
                                    <div class="col-lg-6">您的會員等級:</div>
                                    <div class="col-lg-3">{{memberInfo.levelName}}</div>

                                    <div class="col-lg-6">累積消費金額:</div>
                                    <div class="col-lg-6">${{memberInfo.memberPoint}}元</div>
                                </div>
                            </div>

                            <h3 id="bar">累計進度bar</h3>
                            <div>
                                <div class="progressWrapper">
                                    <progress id="progress" :value="memberInfo.memberPoint" :max="upgradeVal"></progress>
                                    <div class="progressLabels">
                                        <span>0</span>
                                        <span>{{upgradeVal}}</span>
                                    </div>
                                    {{dataContent}}
                                </div>
                                <div class="dataContent col-lg-8"></div>
                                <h3>折扣率:{{memberInfo.levelDiscount}}</h3>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <!--MemberLevel section end-->
            <!-- ======= OrderHistory Section ======= -->
            <section id="events" class="events">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>會員歷史訂單</h2>
                    </div>


                    <table class="table" id="CustomersTable">
                        <thead>
                            <tr>
                                <th>
                                    訂單編號
                                </th>
                                <th>
                                    訂單日期
                                </th>
                                <th>
                                    訂單金額
                                </th>
                                <th>
                                    付款方式
                                </th>
                                <th>
                                    桌號
                                </th>
                                <th>
                                    餐點明細
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="order in memberInfo.orders">
                                <td>
                                    {{order.orderId}}
                                </td>
                                <td>
                                    {{order.orderDate}}
                                </td>
                                <td>
                                    {{order.finalPrice}}
                                </td>
                                <td v-if="order.isTakeway">
                                    外帶
                                </td>
                                <td v-else>
                                    內用
                                </td>
                                <td>
                                    {{order.tableId}}
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @@click="getDetails(order.orderId)">
                                        展開
                                    </button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </section><!-- End Events Section -->

        </div>

    </main><!-- End #main -->

</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    <script>
        var app = new Vue({
            el: '#member',
            data: {
                memberInfo: [],
                orderInfo: [],
                upgradeValue: 0,
                remainingValue: 0,
                dis: true,
                buttonText: "修改會員資料",
                selectedOrderId:0,
            },
            computed: {
                //進度條計算
                dataContent: function () {
                    this.remainingValue = this.upgradeValue - this.memberInfo.memberPoint;
                    return this.remainingValue > 0 ? `還需消費 ${this.remainingValue} 元才能升級至下一個階級` : "已達到最高等級";
                },
                //等級計算
                upgradeVal: function () {
                    if (this.memberInfo.levelName === "平民") {
                        return this.upgradeValue = 10000;
                    } else {
                        return this.upgradeValue = 20000;
                    }
                },
                //全名寫法
                fullName: function () {
                    return this.memberInfo.lastName + this.memberInfo.firstName;
                },
                //編輯會員資料樣式
                editClass: function () {
                    if (this.dis == true) {
                        return 'box noedit'
                    }
                    return 'box edit'
                },
            },
            methods: {
                handleModalClose:function() {
                    document.body.classList.add('modal-closed');
                },
                //日期呈現
                formatDate:function(){
                    let date = new Date(this.memberInfo.birthday);
                    this.memberInfo.birthday=date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0')
                    return this.memberInfo.birthday;
                },
                //修改資料
                submitInfo: function () {
                    var request = {
                        FirstName: this.memberInfo.firstName,
                        LastName: this.memberInfo.lastName,
                        Address: this.memberInfo.address,
                        Phone:this.memberInfo.phone,
                        Email: this.memberInfo.email,
                        Birthday: this.memberInfo.birthday,
                        Gender: this.memberInfo.gender,
                    };
                    axios.put("/api/member/EditMemberInfo", request)
                        .then()
                },
                //按鈕樣式修改
                modify:
                    function () {
                        if (this.buttonText == "修改會員資料") {
                            this.buttonText = "儲存修改";
                            setTimeout(() => {
                                window.scrollBy(0, 0.001);
                            }, 1000);
                            return this.dis = false;
                        };
                        if (this.buttonText == "儲存修改") {
                            this.buttonText = "修改會員資料";
                            this.submitInfo();
                            setTimeout(() => {
                                window.scrollBy(0, -0.001);
                            }, 1000);
                            return this.dis = true;
                        };
                    },
                getDetails: function (selectedOrderId) {
                    let _this = this;
                    axios.get("/api/member/GetOrder")
                        .then(response => {
                            _this.orderInfo = response.data;
                            _this.selectedOrderId = selectedOrderId
                            _this.orderInfo = _this.orderInfo.filter(order => order.orderId == _this.selectedOrderId)
                            return _this.orderInfo
                        })
                },
            },
            created:
                function () {
                    let _this = this;
                    axios.get("/api/member/GetMember")
                        .then(response => {
                            _this.memberInfo = response.data;
                        })
                }
            
        });

    </script>
}