@model IEnumerable<EnjoyEat.Models.ViewModel.MemberViewModel>

@section Styles{
    <link href="~/css/membermanagement.css" rel="stylesheet" />
}
<!-- =======MemberManagement navbar  Section ======= -->
<nav>
    <div id="memberNavbar" class="d-flex">
        <h5 id="userName">{{ member.firstName }} {{ member.lastName }}您好</h5>
        <button class="btn">
            登出
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
            <span class="fourth"></span>
        </button>
    </div>
</nav>
<!-- End navbar -->

<main id="main">
    <div class="contaimer">
    <!-- ======= MemberInformation Section ======= -->
    @*原本是why-us*@
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

            <div class="section-title d-flex">
                <h2>會員資訊</h2>
                    <div class="d-flex modify">
                    <button class="btn">
                        修改會員資料
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                        <span class="fourth"></span>
                    </button> @*用ajax改*@
                    <button class="btn">
                        重新設定密碼
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                        <span class="fourth"></span>
                    </button>
                    </div>
            </div>

            <!--memberdata-->
            <div class="row">

                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                       會員編號:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.memberId }}
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                       聯絡電話:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.phone }}
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        姓名:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.firstName }} {{ member.lastName }}
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        通訊地址:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.address }}
                    </div>
                </div><div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        出生日期:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.birthday }}
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        Email:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        thm101team66@gamil.com
                    </div>
                </div>

                    <div class="col-lg-2 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            性別:
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            男
                        </div>
                    </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->


    <!--MemberLevel section-->
    <section id="top-ten" class="top-ten">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>會員等級</h2>
            </div>

            <!--會員等級設定-->
            <div class="memberLevelContent">
                <div class="row">

                        <div class="circle col-lg-3">
                            <img src="~/img/specials-4.png" />
                        </div>

                        <div class="col-lg-9 d-flex">
                            <div class="row">
                                <div class="col-lg-9">您的會員等級:</div>
                                <div class="col-lg-3">{{ member.levelName }}</div>

                                <div class="col-lg-6">累積消費金額:</div>
                                <div class="col-lg-6">${{ member.memberPoints }}元／16次</div>
                            </div>
                        </div>

                        <h3>累計進度bar</h3>
                        <div >
                            <div class="progressWrapper">
                                <progress id="progress" max="25000"></progress>
                                <div class="progressLabels">
                                    <span>0</span>
                                    <span>25000</span>
                                </div>

                            </div>
                            <div class="dataContent col-lg-8"></div>
                            <h3>折扣率:{{member.discount}}</h3>
                            <
                        </div>
                </div>
                   

            </div>
        </div>
    </section>
    <!--Top10 carousul section end-->

    <!-- ======= OrderHistory Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>會員歷史訂單</h2>
            </div>


                <table class="table" id="CustomersTable">
                    <thead>
                        <tr>
                            <th>
                               訂單編號
                            </th>
                            <th>
                               訂單日期
                            </th>
                            <th>
                                訂單金額
                            </th>
                            <th>
                                付款方式
                            </th>
                            <th>
                               桌號
                            </th>
                            <th>
                                餐點明細
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                             {{order.OrderId}}
                        </td>
                        <td>
                            {{order.OrderDate}}
                        </td>
                        <td>
                            {{order.OrderPrice}}
                        </td>
                        <td>
                            {{order.OrderPayment}}
                        </td>
                        <td>
                            {{order.OrderTable}}
                        </td>
                        <td>
                            <button class="btn">
                                展開
                                <span class="first"></span>
                                <span class="second"></span>
                                <span class="third"></span>
                                <span class="fourth"></span>
                            </button>
                        </td>
                    </tr>
                    
                    </tbody>
                </table>

        </div>
    </section><!-- End Events Section -->

    </div>

</main><!-- End #main -->


@section Scripts {
    <script src="~/js/memebermanagement.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '.container',
            data: {
                member:{
                    discount:1,
                    total: null,
                    min: null,
                    max: null,
                    name: "",
                    birth: "",
                    mail: "",
                    phone: "",
                    products: [],
                },
                acc: "",
                name: "",
                pass: "",
                bd: "",
                mail: "",
                tel: "",
                progressbar: "",
                percent: "",
                orders: {},
                orderdetails: [],
            },
            methods: {
                update: function () {
                    let body = {
                        Account: this.acc,
                        Password: "reds1210",
                        Name: this.name,
                        Email: this.mail,
                        Phone: this.tel,
                        Birth: this.bd,
                    }
                    console.log(body)
                    let jstr = JSON.stringify(body);
                    fetch("/api/member/EditMember", {
                        method: 'PUT',
                        headers: { "Content-Type": "application/json" },
                        body: jstr
                    })
                        .then((e) => e.json()).then((r) => {
                            if (result && result.status != 400) {
                                Swal.fire({
                                    allowOutsideClick: 'false',
                                    icon: 'success',
                                    color: '#FFF',
                                    iconColor: '#D8CDB9',
                                    confirmButtonColor: '#721B29',
                                    background: '#333',
                                    title: '資料已更新!',
                                })
                            } else {
                                Swal.fire({
                                    allowOutsideClick: 'false',
                                    icon: 'error',
                                    color: '#FFF',
                                    iconColor: '#D8CDB9',
                                    confirmButtonColor: '#721B29',
                                    background: '#333',
                                    text: '有地方還沒填或是格式錯誤喔!',
                                })
                            }
                        })
                },
                logout: function () {
                    fetch("/api/member/Logout").then(() => {
                        Swal.fire({
                            allowOutsideClick: 'false',
                            title: '登出成功',
                            color: '#FFF',
                            iconColor: '#D8CDB9',
                            background: '#333',
                            timer: 1000,
                            didOpen: () => {
                                Swal.showLoading()
                            },
                            willClose: () => {
                                window.location.assign("/home/index")
                            }
                        })
                    })
                }
            },
            beforeCreate: function () {
                let self = this;
                setTimeout(() => {
                    fetch("/api/member/GetCurrentMember").then((e) => e.json()).then((r) => {
                        var memberData = JSON.parse(r.object);
                        switch (r.status) {
                            case 1: {
                                Swal.fire({
                                    allowOutsideClick: 'false',
                                    icon: 'info',
                                    color: '#FFF',
                                    iconColor: '#D8CDB9',
                                    background: '#333',
                                    text: '請先登入喔!',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then((result) => {
                                    if (result.dismiss === Swal.DismissReason.timer) {
                                        window.location.assign(r.url);
                                    }
                                });
                            }
                                break;
                            case 2: {
                                Swal.fire({
                                    allowOutsideClick: 'false',
                                    icon: 'error',
                                    title: '您尚未註冊會員!',
                                    color: '#FFF',
                                    iconColor: '#D8CDB9',
                                    confirmButtonColor: '#721B29',
                                    background: '#333',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then((result) => {
                                    if (result.dismiss === Swal.DismissReason.timer) {
                                        window.location.assign(r.url);
                                    }
                                })
                            }
                                break;
                            case 0: {
                                self.model = memberData;
                                self.acc = memberData.account;
                                self.name = memberData.name;
                                self.bd = memberData.birth.slice(0, 10);
                                self.mail = memberData.mail;
                                self.tel = memberData.phone;
                                self.percent = Math.round(memberData.total / memberData.max * 100) > 100 ? 100 : Math.round((memberData.total - memberData.min) / (memberData.max - memberData.min) * 100);
                                self.progressbar = `width: ${self.percent}%`;
                                Swal.fire({
                                    allowOutsideClick: 'false',
                                    icon: 'success',
                                    color: '#FFF',
                                    iconColor: '#D8CDB9',
                                    confirmButtonColor: '#721B29',
                                    background: '#333',
                                });
                                switch (self.model.min) {
                                    case 70000: self.lvl = "Platinum"; self.badge = "../images/icons/drinks_p.png";
                                        break;
                                    case 30000: self.lvl = "Gold"; self.badge = "../images/icons/drinks_g.png";
                                        break;
                                    case 10000: self.lvl = "Silver"; self.badge = "../images/icons/drinks_s.png";
                                        break;
                                    case 5000: self.lvl = "Bronze"; self.badge = "../images/icons/drinks_b.png";
                                        break;
                                    default: self.lvl = "Regular"; self.badge = "../images/icons/drinks_icon.png";
                                        break;
                                }
                            }
                                break;
                        }
                    });
                }, 50)
                Swal.fire({
                    allowOutsideClick: 'false',
                    title: '請稍後',
                    color: '#FFF',
                    iconColor: '#D8CDB9',
                    confirmButtonColor: '#721B29',
                    background: '#333',
                    html: '請勿關閉視窗',
                    timer: 12000,
                    didOpen: () => {
                        Swal.showLoading()
                    },
                })
            },
            mounted: function () {
                let self = this;
                fetch("/api/member/GetOrders").then((e) => e.json())
                    .then((r) => {
                        self.orders = r;
                    })
            }
        })
        })
    </script>
}