@model IEnumerable<EnjoyEat.Models.ViewModel.MemberViewModel>

@section Styles{
    <link href="~/css/membermanagement.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<!-- =======MemberManagement navbar  Section ======= -->
<nav>
    <div id="memberNavbar" class="d-flex">
        <h5 id="userName">{{ member.firstName }} {{ member.lastName }}您好</h5>
        <button class="btn">
            登出
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
            <span class="fourth"></span>
        </button>
    </div>
</nav>
<!-- End navbar -->

<main id="main">
    <div class="contaimer">
    <!-- ======= MemberInformation Section ======= -->
    @*原本是why-us*@
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

            <div class="section-title d-flex">
                <h2>會員資訊</h2>
                    <div class="d-flex modify">
                    <button class="btn">
                        修改會員資料
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                        <span class="fourth"></span>
                    </button> @*用ajax改*@
                    <button class="btn">
                        重新設定密碼
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                        <span class="fourth"></span>
                    </button>
                    </div>
            </div>

            <!--memberdata-->
            <div class="row">

                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                       會員編號:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.memberId }}
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                       聯絡電話:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.phone }}
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        姓名:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.firstName }} {{ member.lastName }}
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        通訊地址:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.address }}
                    </div>
                </div><div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        出生日期:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.birthday }}
                    </div>
                </div>

                <div class="col-lg-2 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        Email:
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            {{ member.email }}
                    </div>
                </div>

                    <div class="col-lg-2 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            性別:
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            男
                        </div>
                    </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->


    <!--MemberLevel section-->
    <section id="top-ten" class="top-ten">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>會員等級</h2>
            </div>

            <!--會員等級設定-->
            <div class="memberLevelContent">
                <div class="row">

                        <div class="circle col-lg-3">
                            <img src="~/img/specials-4.png" />
                        </div>

                        <div class="col-lg-9 d-flex">
                            <div class="row">
                                <div class="col-lg-9">您的會員等級:</div>
                                <div class="col-lg-3">{{ member.levelName }}</div>

                                <div class="col-lg-6">累積消費金額:</div>
                                <div class="col-lg-6">${{ member.memberPoints }}元</div>
                            </div>
                        </div>

                        <h3>累計進度bar</h3>
                        <div >
                            <div class="progressWrapper">
                                <progress id="progress" max="25000"></progress>
                                <div class="progressLabels">
                                    <span>0</span>
                                    <span>25000</span>
                                </div>

                            </div>
                            <div class="dataContent col-lg-8"></div>
                            <h3>折扣率:{{member.discount}}</h3>
                        </div>
                </div>
                   

            </div>
        </div>
    </section>
    <!--Top10 carousul section end-->

    <!-- ======= OrderHistory Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>會員歷史訂單</h2>
            </div>


                <table class="table" id="CustomersTable">
                    <thead>
                        <tr>
                            <th>
                               訂單編號
                            </th>
                            <th>
                               訂單日期
                            </th>
                            <th>
                                訂單金額
                            </th>
                            <th>
                                付款方式
                            </th>
                            <th>
                               桌號
                            </th>
                            <th>
                                餐點明細
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                             {{order.OrderId}}
                        </td>
                        <td>
                            {{order.OrderDate}}
                        </td>
                        <td>
                            {{order.OrderPrice}}
                        </td>
                        <td>
                            {{order.OrderPayment}}
                        </td>
                        <td>
                            {{order.OrderTable}}
                        </td>
                        <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalId">
                                    Launch
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalTitleId">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    Add rows here
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                        </td>
                    </tr>
                    
                    </tbody>
                </table>

        </div>
    </section><!-- End Events Section -->

    </div>

</main><!-- End #main -->


@section Scripts {
    <script src="~/js/memebermanagement.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '.container',
            data: {
                member:[];

            }
            methods:{
                GetMembers() {
                    axios.get("/MemberManagement/GetMember"),
                    then(response => {
                            console(response.data)
                        //this.member = response.data
                    })
            }
    </script>
}