<div class="container" id="bookedConfirm">
    <div>
        <div class="flex-shrink-0" style="text-align:center">
            <p><img src="~/img/success.png" id="successicon" />帳號已啟用成功</p>
        </div>
    </div>
</div>
<div class="php-email-form" data-aos="fade-up" data-aos-delay="100">
    <main id="main">
        <div id="bookConfirmInformation">
            <div class="container" id="bookedConfirm">
                <div>
                    <div class="flex-shrink-0" style="text-align:center">
                        <h6>請點選<a href="/backend/EmployeeLogin/Index">此處</a>跳轉至登入頁面</h6>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>