@section Styles
{
}

<!-- Sign In Start -->
<div id="app">
	<div class="row h-100 align-items-center justify-content-center">
		<div class="col-12 ">
			<div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
				<div class="d-flex align-items-center justify-content-between mb-3">
					<h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>後臺管理</h3>
					<span class="ms-4" id="empName"><i class="fa-solid fa-image-portrait mx-1"></i>{{name}}</span>
				</div>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingInput" placeholder="帳號" v-model="account" required>
					<label for="floatingInput">員工帳號</label>
				</div>
				<div class="form-floating mb-4">
					<input type="password" class="form-control" id="floatingPassword" placeholder="密碼" v-model="password" required>
					<label for="floatingPassword">員工密碼</label>
				</div>
				<button @@click="Login" class="btn btn-primary py-3 w-100 mb-4">登入</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
	<script>
		new Vue({
			el: "#app",
			data: {
				account: '',
				password: '',
				name: '尚未登入',
			},
			methods: {
				Login: function () {
					let self = this;
					let request = {
						account: self.account,
						password: self.password
					};
					if (!self.account || !self.password) {
						self.swal('warning', '請輸入帳號密碼');
						return
					}
					axios.post('EmployeeLogin/Login', request)
						.then(response => {
							if (response.status === 200) {
								self.swal('success', '登入成功');
								setTimeout(function () {
									window.location.href = "/backend/BackendHome/Index";
								}, 1000);
							} else {
								self.swal('error', '帳號密碼錯誤');
							}
						})
						.catch(error => {
							self.swal('error', '帳號密碼錯誤');
						});
				},
				swal: function (icon, str) {
					Swal.fire({
						position: 'center',
						icon: icon,
						title: str,
						showConfirmButton: false,
						timer: 1500
					});
				},
			}

		})

	</script>
}