@section Styles{
    <link href="~/css/memberloginstyle.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
}
<!-- d-flex align-items-center -->
<div class="php-email-form" data-aos="fade-up" data-aos-delay="100">
    <main id="main">
        <section class="breadcrumbs">
            <div class="container" id="member">
                <h1 id="Logo">
                    會員註冊
                    <i class="fa-solid fa-address-card"></i>
                </h1>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto" id="memberRegistration">
                <h4>
                    <i class="fa-solid fa-lock"></i>
                    <span>註冊帳號</span>
                </h4>

                <input type="text" maxlength="12" minlength="8" id="Account" class="form-control" placeholder="請輸入帳號" aria-labelledby="Account" required />
                <div id="AccountHelpBlock" class="form-text">
                    最小不能低於8碼,最大上限為12碼,不限英文與數字
                </div>

                <h4>
                    <i class="fa-solid fa-key"></i>
                    <span>註冊密碼</span>
                </h4>
                <input type="password" maxlength="20" minlength="6" id="Password" class="form-control" placeholder="請輸入密碼" aria-labelledby="Password" required>

                <div id="PasswordHelpBlock" class="form-text">
                    最小不能低於8碼,最大上限為12碼,不限英文與數字
                </div>
                
                <h4>
                    <i class="fa-solid fa-key"></i>
                    <span>再次輸入註冊密碼</span>
                </h4>
                <input type="password" id="PasswordConfirm" class="form-control" placeholder="請再次輸入密碼" aria-labelledby="PasswordConfirm" required>

                <h4>
                    <i class="fa-solid fa-circle-info"></i>
                    <span>會員基本資料</span>
                </h4>

                <div class="row">

                    <div class="col-md-2">
                        <div class="infoClass">
                            姓氏:
                        </div>
                    </div>
                    <input type="text" class="form-label col-md-4 " placeholder="請輸入姓氏">

                    <div class="col-md-2">
                        <div class="infoClass">
                            名字:
                        </div>
                    </div>
                    <input type="text" class="form-label col-md-4" placeholder="請輸入名字">

                    <div class="col-md-2">
                        <div class="infoClass">
                            電話:
                        </div>
                    </div>
                    <input type="text" class="form-label col-md-4" placeholder="請輸入電話">


                    <div class="col-md-2">
                        <div class="infoClass">
                            性別:
                        </div>
                    </div>
                    <select name="" class="col-md-4 book-a-table form-label" required>
                        <option value="" disabled selected>請選擇性別</option>
                        <option  value="">{{ad.txt}}</option>
                    </select>

                    <div class="col-md-3">
                        <div class="infoClass">
                            出生日期:
                        </div>
                    </div>
                    <input type="date" class="left col-md-11 form-label" min="1900-01-01" max="2023-01-01" required="required" />

                    <div class="col-md-3">
                        <div class="infoClass">
                            電子郵件:
                        </div>
                    </div>
                    <input type="text" class="left form-label col-md-11" placeholder="請輸入電子郵件">

                    <div class="col-md-3">
                        <div class="infoClass">
                            聯絡地址:
                        </div>
                    </div>
                    <input type="text" class="left form-label col-md-11" placeholder="請輸入聯絡地址">
                </div>
                <div class="d-grid gap-2 col-md-9 mx-auto">
                    <button class="btn btn-primary" type="submit">送出</button>
                </div>
            </div>
        </section>
    </main><!-- End #main -->

@section Scripts{
    <script>

    </script>
}