@section Styles{
    <link rel="stylesheet" href="/memberLoginStyle.css">
}
<!-- d-flex align-items-center -->
<form asp-controller="MemberRegister" asp-action="Index"></form>
<form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <h1 style="color:burlywood;margin-top:30px">
                    <div>
                        <div class="flex-shrink-0" style="text-align:center">
                            <p>註冊會員</p>
                        </div>
                        <img src="#" alt="" width="300">
                    </div>
                </h1>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto" id="memberRegistration">
                <label class="form-label">註冊帳號</label>
                <input type="text" maxlength="20" minlength="6" id="Account" class="form-control" aria-labelledby="Account"required />>
                <div id="AccountHelpBlock" class="form-text">
                    最小不能低於6碼,最大上限為20碼,不限英文與數字
                </div>

                <label for="inputpassword" class="form-label">註冊密碼:</label>
                <input type="password" maxlength="20" minlength="6" id="Password" class="form-control" aria-labelledby="Password" required>

                <div id="PasswordHelpBlock" class="form-text">
                    最小不能低於6碼,最大上限為20碼,不限英文與數字
                </div>

                <label for="inputpasswordConfirm" class="form-label">再次輸入註冊密碼:</label>
                <input type="password" id="PasswordConfirm" class="form-control" aria-labelledby="PasswordConfirm" required>
                <div id="PasswordHelpBlock" class="form-text"></div>
                <div class="form-label">
                    <label class="form-label">姓:</label>
                    <input type="text" class="form-label">
                    <label class="form-label">名:</label>
                    <input type="text" class="form-label">
                    <br>
                    <label for="imputMemberBirthday" class="form-label">出生年月日:</label>
                    <input type="date" min="1900-01-01" max="2023-01-01" required="required" />
                </div>
                <h6>性別:</h6>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" required>男生
                    <label class="form-check-label" for="radio1"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2" required>女生
                    <label class="form-check-label" for="radio2"></label>
                </div>

                <label for="inputMemberPhone" class="form-label">手機號碼:</label>
                <input type="text" class="form-control" aria-labelledby="Phone" required />
                <label for="inputMemberE-mail" class="form-label">E-mail:</label>
                <input type="text" class="form-control" aria-labelledby="E-mail" required />
                <label for="inputMemberAddress" class="form-label">地址:</label>
                <input type="text" class="form-control" aria-labelledby="Address">

            </div>
        </section>
    </main><!-- End #main -->

</form>
<br>    
<br>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="submit">送出</button>
    <button class="btn btn-primary" type="reset">清除資料</button>
 @*   <a asp-controller="MemberLogin" asp-action="Index" class="btn btn-primary" type="submit">送出</a>*@
</div>

<script>


</script>