<form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
    <main id="main">
      <section class="breadcrumbs">
        <div class="container">
            <h1 style="color:burlywood;text-align:center;margin-top:20px" >
              <div>
                  <div class="flex-shrink-0" style="text-align:center">
                    <p>註冊會員成功!!</p></div> 
                
                  </div>
                </div>
            </h1>
        </div> 
          <br> <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="">返回登入頁面</button>
            </div>      
      </section>
      </main>
  </form>
