<form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <h1 style="color:burlywood;margin-top:30px">
                    <div>
                        <div class="flex-shrink-0" style="text-align:center">
                            <p>修改密碼</p>
                        </div>
                        <img src="#" alt="" width="300">
                    </div>
            </div>
            </h1>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="text" aria-label="Account" class="form-control" placeholder="請輸入註冊帳號">
                <input type="text" aria-label="Account" class="form-control" placeholder="請輸入註冊E-mail">
                <input type="password" aria-label="Password" class="form-control" placeholder="請輸入新密碼">
                <input type="password" aria-label="Password" class="form-control" placeholder="請再次輸入一次新密碼">
            </div>
            </div>
            <br> <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="">送出</button>
            </div>
        </section>
    </main><!-- End #main -->
</form>