<form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <h1 style="color:burlywood">
                    <div>
                        <div class="flex-shrink-0" style="text-align:center">
                            <p>忘記密碼</p>
                        </div>
                        <img src="#" alt="" width="300">
                    </div>
            </div>
            <div class="flex-shrink-0" style="text-align:center">
                <p>請幫我輸入您註冊時的帳號以及E-mail,我們將會寄出一封密碼重製信給您</p>
                <img src="#" alt="" width="150">
            </div>
            </h1>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="text" aria-label="Account" class="form-control" placeholder="請輸入註冊帳號">
                <input type="password" aria-label="Password" class="form-control" placeholder="請輸入註冊e-mail">
            </div>
            <br> <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="">送出</button>
            </div>
       </section>
</form>
