@section Styles{
    <link href="~/css/memberlogin.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
}

<div class="php-email-form" data-aos="fade-up" data-aos-delay="100">
    <main id="main">
        <div id="login">
            <section class="breadcrumbs">
                <div class="container">
                    <h1 id="Logo">
                        會員登入
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </h1>
                </div>
                <div id="AccountHelpBlock" class="form-label nono" v-if="show">
                    帳號或密碼輸入錯誤，請重新確認
                </div>
                <div id="AccountHelpBlock" class="form-label nono" v-if="short">
                    帳號或密碼長度為8至12個字，請重新確認
                </div>
                <br />
                <div class="d-grid gap-2 col-6 mx-auto">
                    <h4>
                        <i class="fa-solid fa-lock"></i>
                        <span>帳號</span>
                    </h4>
                    <input type="text" aria-label="Account" v-model="account" placeholder="請輸入會員帳號"
                           maxlength="12" minlength="8" required>
                    <h4>
                        <i class="fa-solid fa-key"></i>
                        <span>密碼</span>
                    </h4>
                    <input type="password" aria-label="Password" v-model="password" placeholder="請輸入會員密碼"
                           maxlength="12" minlength="8" required>

                    <button class="login btn btn-primary" type="button" @@click="login">登入</button>
                    <button class="login btn btn-primary" type="button" @@click="register">註冊</button>
                    <button class="login btn btn-danger" type="button" @@click="forget">忘記密碼</button>
                </div>

            </section>
        </div>
    </main><!-- End #main -->
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    <script>
        let app = new Vue({
            el: "#login",
            data: {
                account: "",
                password: "",
                show: false,
                short:false,
            },
            methods: {
                login: function () {
                    let _this = this;
                    _this.short = false;
                    _this.show = false;
                    if(_this.account.length<8 || _this.password.length<8){
                        return _this.short =true
                    }
                    request = {
                        Account: _this.account,
                        Password: _this.password
                    };
                    axios.post("/api/member/Login", request)
                        .then(response => {
                            if (response.data == "帳號密碼錯誤") {
                                _this.show = true;
                            } else {
                                Swal.fire({
                                    allowOutsideClick: false,
                                    icon: 'success',
                                    color: '#333',
                                    iconColor: '#D8CDB9',
                                    background: '#FFF',
                                    title: '登入成功',
                                    html: '<div class="custom-swal-container"><div class="custom-swal-message">將自動跳轉至首頁!</div></div>',
                                    showConfirmButton: false,
                                    timer: 2000,
                                    position: 'center'
                                }).then(result => {
                                    if (result.dismiss === Swal.DismissReason.timer) {
                                        window.location.href = `/Home/Index`;
                                    }
                                });
                            }
                        });
                },
                forget: function () {
                    window.location.href = `/MemberLogin/ForgetPassword`;
                },
                register: function () {
                    window.location.href = `/MemberRegister/Index`;
                },
            }
        });
    </script>
}
