@model IEnumerable<EnjoyEat.Models.ViewModel.MenuViewModel>
@section Styles {
    <link href="~/css/menustyle.css" rel="stylesheet" />
}

<!-- ======= Menu Section ======= -->
<div id="app">
    <div class="section-title">
        <h2>菜單精選</h2>
        <p>主廚推薦 TOP <span style="font-size:50px">10</span> !</p>
    </div>
    <section id="top-ten" class="top-ten menu section-bg">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="toptenimg col-md-7">
                                <img src="/img/specials-1.png" class=" d-block w-100" alt="Image 1">
                            </div>
                        <div class="toptenitem col-md-5">
                                <h3>推薦餐點 TOP<span style="font-size:35px">  1</span></h3><br>
                                <h4>薑絲嚕嚕咪</h4>
                                <p>$400</p><br>
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="toptenimg col-md-7">
                                <img src="/img/specials-2.png" class="d-block w-100" alt="Image 2">
                            </div>
                        <div class="toptenitem col-md-5">
                                <h3>推薦餐點 TOP<span style="font-size:35px">  2</span></h3><br>
                                <h4>雨傘節沙拉</h4>
                                <p>$150</p>
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="toptenimg col-md-7">
                                <img src="/img/specials-3.png" class="d-block w-100" alt="Image 3">
                            </div>
                            <div class="toptenitem col-md-5">
                                <h3>推薦餐點 TOP<span style="font-size:35px">  3</span></h3><br>
                                <h3>膽汁牛肉麵</h3>
                                <p>$250</p>
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </section>
    <div class="section-title">
        <h2>菜單</h2>
        <p>歡迎查看美味的菜單</p>
    </div>
    <section id="menuItem" class="menu section-bg">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li data-filter="*" class="filter-active">全部</li>
                    <li data-filter=".filter-appetizer">前菜</li>
                    <li data-filter=".filter-soups">湯品</li>
                    <li data-filter=".filter-mainMeal">主餐</li>
                    <li data-filter=".filter-snacks">點心</li>
                    <li data-filter=".filter-dessert">甜點</li>
                    <li data-filter=".filter-beverage">飲料</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="menu" class="menu section-bg">
        <div class="menuDetail">
            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                <div v-for="t in temp" :class="{'col-lg-4': true, 'menu-item': true, [t.categoryName]: true}">
                    <img :src="baseUrl + t.mealImg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">{{t.productName}}</a><span>${{t.unitPrice}}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{t.description}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- ======= Menu Section End ======= -->
@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                baseUrl: '',
                temp: [],
            },
            mounted:
                function () {
                    let _this = this;
                    _this.baseUrl = window.location.origin + '/';
                    axios.get("https://localhost:7071/api/menu/GetMenu")
                        .then(response => {
                            _this.temp = response.data;
                            //console.log(JSON.stringify(response.data));
                        });
                },
            methods: {

            }
        });
    </script>
}
