@section Styles{
    <style>
        .btn{
            margin:5px;
        }
        .new {
            margin-left: 10px;
        }
        /*搜尋input*/
        #searchText {
            margin-left: auto;
            margin-right: 0px;
            text-align: center;
            width: 15%;
        }

        /*新增訂位訊息的modal*/
        .modal-content {
            background-color: #191C24
        }

        #create_container input, #create_container select {
            background: rgb(133, 133, 133);
            border-radius: 5px;
        }

        .modal-footer button {
            background-color: #6c757d;
            border-radius: 5px;
        }

        .modal select, .modal input {
            color: black;
        }

        textarea {
            resize: none; /*不讓使用者调整 <textarea> 元素的大小*/
            overflow: auto; /*需要時顯示滾輪條  */
            height: 20px;
            background-color: rgb(133, 133, 133);
        }

        .nono {
            color: red;
        }
    </style>
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>

<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="bg-secondary rounded h-100 p-4" id="app">
            <h6 class="mb-4">訂單管理系統</h6>
            <div class="col-12 row">
                <input type="text" class="form-control col-md-4" v-model="searchText" id="searchText" placeholder="請輸入搜尋關鍵字" @@keyup="filterOrder" />
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">訂單編號</th>
                            <th scope="col">會員編號</th>
                            <th scope="col">消費日期</th>
                            <th scope="col">人數</th>
                            <th scope="col">內用/外帶</th>
                            <th scope="col">桌號</th>
                            <th scope="col">是否結帳</th>
                            <th scope="col">會員折扣</th>
                            <th scope="col">最終金額</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" v-for="order in orderInfo">
                            <template>
                                <td scope="row">{{order.orderId}}</td>
                                <td>{{order.memberId}}</td>
                                <td>{{order.orderDate}}</td>
                                <td>{{order.customerCount}}</td>
                                <td v-if="order.isTakeway">外帶</td>
                                <td v-else>內用</td>
                                <td>{{order.tableId}}</td>
                                <td v-if="order.isSuccess">已結帳</td>
                                <td v-else>未結帳</td>
                                <td>{{order.levelDiscount}}</td>
                                <td>{{order.countPrice}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" v-if="order.isSuccess==false" @@click="check(order.orderId)">
                                        結帳
                                    </button>
                                    <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" @@click="getOrderDetail(order)">
                                        展開明細
                                    </button>
                                </td>
                            </template>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Table End -->
            <!--Edit Modal-->
            <div class="modal fade bookingdModal" id="editModal" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="staticBackdropLabel">訂單明細</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="bookinginfo">
                                <table class="table">                                    
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">訂單明細編號</th>
                                            <th scope="col">產品名稱</th>
                                            <th scope="col">數量</th>
                                            <th scope="col">單價</th>
                                            <th scope="col">會員折扣</th>
                                            <th scope="col">小計金額</th>
                                            <th scope="col">刪除</th>
                                            <th scope="col" v-if="success==false">修改</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" v-for="order in orderDetailInfo" v-if="order.editStatus==false">
                                            <template >
                                            <td>{{order.orderDetailId}}</td>
                                            <td>{{order.productName}}</td>
                                            <td>{{order.quantity}}</td>
                                            <td>{{order.unitPrice}}</td>
                                            <td>{{order.discount}}</td>
                                            <td>{{order.subtotalPrice}}</td>
                                                <td><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" @@click="deleteDetail(order)">刪除</button></td>
                                            <td><button v-if="success==false" class="col btneditproducts btn-sm btn-light btnCheckinModal" type="button" @@click="edit(order)">修改明細</button></td>
                                            </template>
                                        </tr>
                                        <tr v-else>
                                            <template >
                                            <td>{{order.orderDetailId}}</td>
                                            <td>{{order.productName}}</td>
                                            <td><input class="form-label" v-model="order.quantity" /></td>
                                            <td>{{order.unitPrice}}</td>
                                            <td><input class="form-label" v-model="order.discount" /></td>
                                            <td>{{count}}</td>
                                            <td><button class=" btneditproducts btn-light btn-sm btnCheckinModal" type="button" @@click="update(order)">儲存明細</button></td>
                                            <td><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" @@click="deleteDetail(order)">刪除</button></td>
                                            </template>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <form id="booking">
                            <p class="checkMessage"></p>
                            <div class="modal-footer">
                                <div class="row m-0">
                                    <button class="col btneditproducts  btnCheckinModal" type="button" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>關閉</button>                            
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/vue/vue.min.js"></script>
    <script src="/axios/axios.min.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.js"></script>
    <script type="text/javascript">
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/paymentHub")
            .build();

        connection.on("PaymentStatusChanged", function (orderId, isPaid) {
            if (isPaid) {
                // 如果收到的付款狀態為已付款，則跳出提醒視窗
                Swal.fire(
                    '交易狀態提示',
                    '訂單編號： ' + orderId + '付款成功',
                    'success'
                )
            }
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                orderInfo: [],
                originalInfo: [],
                orderDetailInfo:[],
                searchText: '',
                original: {
                    orderId: '',
                    memberId: '',
                    orderDate: null,
                    customerCount: "",
                    isTakeway: '',
                    levelDiscount: "",
                    countPrice: "",
                },
                editInfo:{
                    unitPrice:"",
                    quantity:"",
                    discount:"",
                },
                regis: false,
                signalr:{},
                success:false,
            },
            computed:{
                count:function(){
                    return this.editInfo.unitPrice * this.editInfo.quantity * this.editInfo.discount
                },
            },
            methods: {
                //篩選order
                filterOrder: function () {
                    let _this = this;
                    var orderlist = [];
                    if (_this.searchText === "") {
                        _this.getOrder();
                    } else {
                        for (var i = 0; i < _this.originalInfo.length; i++) {
                            var item = _this.originalInfo[i];
                            var orderId = item.orderId;
                            var memberId = item.memberId;
                            var orderDate = item.orderDate.toString();
                            var customerCount = item.customerCount;
                            var isTakeway = item.isTakeway;
                            var levelDiscount = item.levelDiscount;
                            var countPrice = item.countPrice;

                            var regex = new RegExp(_this.searchText, 'i');

                            if (
                                regex.test(orderId) ||
                                regex.test(memberId) ||
                                regex.test(orderDate) ||
                                regex.test(customerCount) ||
                                regex.test(isTakeway) ||
                                regex.test(levelDiscount) ||
                                regex.test(countPrice)
                            ) {
                                orderlist.push(item);
                            }
                        }
                    }

                    _this.orderInfo = orderlist;
                },
                //結帳
                check: function (orderId){
                    this.signalr.invoke("TrackPaymentStatus",orderId)
                    axios.put(`/api/OrderBackend/EditPayStatus/${orderId}`).then(response => {
                        this.getOrder();
                    })
                },
                //取得訂單明細
                getOrderDetail:function(order){
                    let _this = this;
                    _this.success=order.isSuccess
                    axios.get(`/api/OrderBackend/GetOrderDetail/${order.orderId}`).then(response => {
                        _this.orderDetailInfo=response.data
                        var temp = [];
                        for (var i = 0; i < _this.orderDetailInfo.length; i++) {
                            var item = _this.orderDetailInfo[i];
                            item.editStatus = false;
                            temp.push(item);
                        }
                        _this.orderDetailInfo = temp;
                    })
                },
                //修改按鈕
                edit:function(order){
                    let _this=this;
                    var temp = [];
                    _this.editInfo.unitPrice=order.unitPrice
                    _this.editInfo.quantity = order.quantity
                    _this.editInfo.discount = order.discount
                    for (let i = 0; i < _this.orderDetailInfo.length; i++) {
                        let item = _this.orderDetailInfo[i];
                        if (order.orderDetailId == item.orderDetailId) {
                            item.editStatus = true;
                        }
                        temp.push(item)
                    }
                    _this.orderDetailInfo = temp;
                },
                //提交修改
                update:function(order){
                    let _this = this;
                    order.subtotalPrice = order.unitPrice * order.quantity * order.discount
                    let request = {
                        OrderDetailId: order.orderDetailId,
                        Quantity: order.quantity,
                        Discount: order.discount,
                        SubtotalPrice: order.subtotalPrice,
                    };
                    axios.put(`/api/OrderBackend/EditOrderDetail`, request)
                        .then(response => {
                            var temp = [];
                            for (let i = 0; i < _this.orderDetailInfo.length; i++) {
                                let item = _this.orderDetailInfo[i];
                                if (order.orderDetailId == item.orderDetailId) {
                                    item.editStatus = false;
                                }
                                temp.push(item)
                            }
                            _this.orderDetailInfo = temp;
                            _this.getOrderDetail(order)
                        });
                },
                //抓訂單資料
                getOrder: function () {
                    let _this = this;
                    axios.get("/api/OrderBackend/GetOrder").then(
                        response => {
                            _this.orderInfo = response.data;
                            _this.originalInfo = response.data;
                        }
                    );
                },
                //刪除訂單明細
                deleteDetail: function (order) {
                    let _this = this;
                        axios.delete(`/api/OrderBackend/DeleteOrderDetail/${order.orderDetailId}`)
                            .then(response => {
                                Swal.fire({
                                    allowOutsideClick: false,
                                    icon: 'success',
                                    color: '#333',
                                    iconColor: '#D8CDB9',
                                    background: '#FFF',
                                    title: '訂單刪除成功',
                                    showConfirmButton: false,
                                    timer: 2000,
                                    position: 'center'
                                }).then(result => {
                                    _this.getOrder();
                                });
                            });
                }

            },
            mounted: function () {
                let _this = this;
                _this.getOrder();
                _this.signalr = new signalR.HubConnectionBuilder().withUrl("/PaymentHub").build();
                _this.signalr.start()
                    .then(() => {
                        console.log("connection");
                    })
                    .catch((err) => {
                        console.log(err.toString());
                    });
            }
        });
    </script>
}
