@section Styles{
    <link href="~/css/reservations.css" rel="stylesheet" />
    <style>
        h5 {
            text-align: center;
            font-family: serif;
            font-family: serif;
        }

        #AboutUsContent {
            display: flex;
            justify-content:center;
            align-items: center;
            width:550px;
        }

        #about-img2 {
            flex-direction: row-reverse;
        }
    </style>
}
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up" id="AboutUsTitle">
            <h5>我們不斷追求卓越，每一次都致力於超越您的期望，尋找令人驚艷的方法和策略。</h5>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= content ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up" id="AboutUsContentOne">
            <div class="row">
          
                <div class="col-lg-6 order-1 order-lg-2"
                     data-aos="zoom-in"
                     data-aos-delay="100">
                    <div class="about-img">
                        <img src="/img/AboutUs/AboutUs_1.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" id="AboutUsContent">
                    <div>
                    <p>
                        精心挑選的食材、烹飪技巧的精湛呈現和對細節的極致追求，我們致力於為每位客人帶來令人難忘的美食旅程。
                    </p>
                    <p>
                       每一道料理都是我們熱情與創意的結晶，我們相信美食應該是一種享受，一場意境的演繹。
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <section id="about" class="about">
            <div class="container" data-aos="fade-up" id="AboutUsContentTwo">
            <div class="row" id="about-img2">
                <div class="col-lg-6 order-1 order-lg-2"  data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="/img/AboutUs/AboutUs_2.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 order-2 order-lg-1 content" id="AboutUsContent">
                    <div>
                        <p>
                            我們的廚師團隊由優秀的烹飪大師組成，他們對食材的挑選與烹調技巧的追求堪稱匠心獨具。
                        </p>
                        <p>
                            每一位廚師都是我們團隊中的明星，他們以其獨特的視野和精湛的技藝，將食材轉化為令人驚艷的藝術品。
                        </p>
                    </div>
                </div>
                </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up" id="AboutUsContentOne">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2"
                     data-aos="zoom-in"
                     data-aos-delay="100">
                    <div class="about-img">
                        <img src="/img/AboutUs/AboutUs_3.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" id="AboutUsContent">
                    <div>
                        <p>
                            我們餐廳的空間佈局設計巧妙，旨在讓每個用餐區域都擁有舒適的私密感，同時又保持著開闊的視野，為您營造一個寬敞而舒適的用餐環境。
                        </p>
                        <p>
                            餐廳內的音樂和溫暖的燈光營造出放鬆浪漫的氛圍，讓您與摯愛共享美食和珍貴時刻，沉浸在美食和珍貴時刻中，創造出難忘的回憶。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End content -->
