#menuItem {
    padding-bottom: 0;
    padding-top: 20px;
}

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.menuTop {
    padding: 12px;
    padding-bottom: 45px;
    border: 2px solid #ffffff;
    width: 50%;
    min-width: 350px;
}

.menuDetail {
    padding: 12px;
    padding-bottom: 45px;
    border: 2px solid #ffffff;
    width: 50%;
    min-width: 350px;
<<<<<<< Updated upstream
}
=======
}

.imgTopten {
    width: 100px;
}

.noFour, .noThree, .noTwo, .noOne {
    display: flex;
    flex-wrap: wrap;
}

.col {
    text-align: center;
    min-width: 110px;
}


/* ①②③④⑤⑥⑦⑧⑨⑩ */
>>>>>>> Stashed changes
