.container label{
    color: #AAAAAA;
    font-family: "Poppins",sans-serif;
    font-size:14px;

}
#adultPicker {
    margin: 5px;
}

#kidPicker {
    margin: 5px;
}

#calendar {
    margin: 10px;
}

#finalReservation {
    z-index: 10000;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #d9ba85;
    border: 1px solid #d9ba85;
    color: white;
    font-size: 16px;
}

#yourReservation {
    left: 50px;
    right: 50px;
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#finalReservation button {
    background: #cda45e;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    border: 0;
    margin: 2px;
}

#reservationNow {
    width: 100%;
    text-align: center;
}

#sameMemberDiv {
    height: 40px;
    color: #bab3a6;
}

#sameMemberCheck {
    height: 15px;
}

#NameCheck {
    height: 100px;
    color: #bab3a6;
}

#femaleCheck {
    height: 15px;
}

#maleCheck {
    height: 15px;
}

#enjoyEatLocation {
    margin-bottom: 48px;
}

#enjoyEatInformation {
    margin-left: 50px;
}

#contactUsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#customercomment {
    margin-top:100px;
}

#contactQuestion {
    font-size: 14px;
    color: #bab3a6;
    justify-content: center;
}

#commentOption {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: #aba18c;
    height: 44px;
}
/*booking*/
.datepicker {
    width: 100%;
    border: 0px;
}

    .datepicker input {
        height: 38px;
    }

.people-member:focus {
    background-color: #D8CDB9;
}
/*datepicker*/
.mx-calendar-content .cell.disabled {
    background-color: #F2E6E6;
    color: #666;
    font-weight: lighter;
}

.mx-calendar-content .cell.active {
    background-color: #721B29;
}

.mx-datepicker-main {
    color: #333;
    font-weight: bold;
}

.mx-calendar-content .cell:hover {
    background-color: #721B29;
    color: white;
}

option:disabled {
    background-color: #F2E6E6;
    color: #666;
}

