.container label {
    color: #AAAAAA;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
}

#adultPicker {
    margin: 5px;
}

#kidPicker {
    margin: 5px;
}

#calendar {
    margin: 10px;
}

#finalReservation {
    z-index: 10000;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #d9ba85;
    border: 1px solid #d9ba85;
    color: white;
    font-size: 16px;
}

#yourReservation {
    left: 50px;
    right: 50px;
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#finalReservation button {
    background: #cda45e;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    border: 0;
    margin: 2px;
}

#reservationNow {
    width: 100%;
    text-align: center;
}

/*booking頁面*/
#sameMemberDiv {
    height: 40px;
    color: #bab3a6;
    padding-left: 15px;
}

#sameMemberCheck {
    height: 15px;
}

#NameCheck {
    height: 100px;
    color: #bab3a6;
}

#femaleCheck {
    height: 15px;
}

#maleCheck {
    height: 15px;
}
<<<<<<< HEAD

=======
#bookReturn {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: .4s;
    border-radius: 50px;
}
#bookNow {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: .4s;
    border-radius: 50px;
}
/*datepicker*/
.datepicker {
    width: 100%;
    border: 0px;
}

.calendar {
    margin-left: -5px;
    left: 0px;
    padding: .375rem 2.25rem .375rem .75rem;
}

#datepicker input {
    height: 38px;
    color: black;
    background-color: #fff;
    border-radius: .25rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    margin-left: -5px;
    display: block;
    padding: .375rem 2.25rem .375rem .75rem;
}

input::placeholder {
    color: red; /* 在這裡更改顏色為你想要的顏色 */
}

.mx-calendar-content .cell.disabled {
    background-color: #F2E6E6;
    font-weight: lighter;
}

.mx-calendar-content .cell.active {
    background-color: #721b29;
}

.mx-datepicker-main {
    color: #333;
    font-weight: bold;
}

.mx-calendar-content .cell:hover {
    /* background-color: #721B29;
    color: white;*/
}

option:disabled {
    background-color: #F2E6E6;
    color: #666;
}
/*dialog 注意事項視窗*/
dialog {
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 30px;
}

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.1);
    }

#ruleContainer {
    text-align: justify; /*設定左右對齊*/
}

    #ruleContainer p {
        margin: 0 0 10px;
    }

#noticeRule {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

    #noticeRule p {
        font-family: "Poppins",sans-serif;
        font-size: 14px;
        color: red;
    }

#finalReservation .nono {
    background-color: #aaa
}

/*contactUs頁面*/
>>>>>>> main
#enjoyEatLocation {
    margin-bottom: 48px;
}

#enjoyEatInformation {
    margin-left: 50px;
}


#contactUsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#customercomment {
    margin-top: 100px;
}

#contactQuestion {
    font-size: 14px;
    color: #bab3a6;
    justify-content: center;
}

#commentOption {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: #aba18c;
    height: 44px;
}
/*datepicker*/
.datepicker {
    width: 100%;
    border: 0px;
}
.calendar {
    margin-left: -5px;
    left: 0px;
    padding: .375rem 2.25rem .375rem .75rem;
}
#datepicker input {
    height: 38px;
    color: black;
    background-color: #fff;
    border-radius: .25rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    margin-left: -5px;
    display: block;
    padding: .375rem 2.25rem .375rem .75rem;
}
input::placeholder {
    color: red; /* 在這裡更改顏色為你想要的顏色 */
}

<<<<<<< HEAD
.mx-calendar-content .cell.disabled {
    background-color: #F2E6E6;
    font-weight: lighter;
}

.mx-calendar-content .cell.active {
    background-color: #721b29;
}

.mx-datepicker-main {
    color: #333;
    font-weight: bold;
}

.mx-calendar-content .cell:hover {
   /* background-color: #721B29;
    color: white;*/
}

option:disabled {
    background-color: #F2E6E6;
    color: #666;
}
/*dialog 注意事項視窗*/
dialog {
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 30px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
}

#ruleContainer {
    text-align: justify; /*設定左右對齊*/
}

    #ruleContainer p {
        margin: 0 0 10px;
    }

#noticeRule {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#noticeRule p {
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    color:red;
}

#finalReservation .nono {
    background-color: #aaa
=======
#submitbtn {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: .4s;
    border-radius: 50px;
>>>>>>> main
}
