
/*reservation index頁面 start*/
.container label {
    color: #a4a17e;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
}


#finalReservation {
    z-index: 10000;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #d9ba85;
    border: 1px solid #d9ba85;
    color: white;
    font-size: 16px;
}

#yourReservation {
    left: 50px;
    right: 50px;
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#mealTimePicker {
    height: 44px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 70%;
    border-radius: 0;
    box-shadow: none;
    background: #0c0b09;
    border-color: #625b4b;
    color: #aaa;
    font-size: 14px;
}

#finalReservation button {
    background: #cda45e;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    border: 0;
    margin: 2px;
}

#reservationNow {
    width: 100%;
    text-align: center;
}
/*datepicker*/
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.datepicker {
    border: 0px;
}

    .datepicker input {
        height: 21px;
        font-weight: 400;
        line-height: 1.5;
        display: block;
        /* padding: .375rem 2.25rem .375rem .75rem;*/
        border-radius: 0;
        box-shadow: none;
        background: #0c0b09;
        border-color: #625b4b;
        color: #aaa !important;
    }

div #d1 {
    margin-top: 10px;
    margin-left: 10px;
}

    div #d1 .mx-datepicker {
        width: 48%;
        margin-bottom: 10px;
    }

.mx-calendar-content .cell.disabled {
    background-color: #F2E6E6;
    font-weight: lighter;
}

.mx-datepicker-main {
    color: #aaa;
    font-weight: bold;
}

.mx-calendar-content .cell:hover {
    background-color: #721B29;
    color: #aaa;
}

#datepicker input::placeholder {
    color: #aaa; /* 在這裡更改顏色為你想要的顏色 */
}

option:disabled {
    background-color: #F2E6E6;
    color: #666;
}

/*欄位未填寫前button呈現灰色*/
#finalReservation .nono {
    background-color: #aaa
}

/*reservation index頁面 end*/

/*booking頁面 start*/
#sameMemberDiv {
    height: 40px;
    color: #FFF;
    padding-left: 15px;
}

#sameMemberCheck, #femaleCheck, #maleCheck {
    height: 15px;
}


#bookReturn {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: .4s;
    border-radius: 50px;
}
#bookNow {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: .4s;
    border-radius: 50px;
}
textarea {
    resize: none; /*不讓使用者调整 <textarea> 元素的大小*/
    overflow: auto; /*需要時顯示滾輪條  */
    height:150px;
}
#bookinglist input, #bookinglist textarea {
    color: #aaa, font-size: 14px;
}

    #bookinglist input::placeholder, #bookinglist textarea::placeholder {
        color: #aaa;
    }

/*booking頁面 end*/


/*reservation success頁面 start*/


#bookConfirmInformation {
    background-color: #bab3a6;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
    width: 50%;
    margin: auto;
    border-radius: 50px;
    padding:20px;
}

#bookedInfornations {
    margin: auto;
}
#ETInformation {
    margin: auto;
}
#bookConfirmInformation label {
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
}
#bookConfirmInformation span {
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
}
#ETInformation span {
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
}
/*reservation success頁面 end*/

/*contactUs頁面*/
#enjoyEatLocation {
    margin-bottom: 48px;
}

#enjoyEatInformation {
    margin-left: 50px;
}


#contactUsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#customercomment {
    margin-top: 100px;
}

#contactQuestion {
    font-size: 14px;
    color: #bab3a6;
    justify-content: center;
}

#commentOption {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: #aaa;
    height: 44px;
}

#submitbtn {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: .4s;
    border-radius: 50px;
}
