@section Styles
	{
	<link href="~/orderforhere/orderforherelogincss/orderforhere.css" rel="stylesheet" />
}


<!-- Start  -->
<div class="form-container" id="Login">
	<h2>內用點餐</h2>
	<form>
		<label for="table-number">內用桌號:</label>
		<input type="text" id="table-number" name="table-number" required v-model="tableNumber">
		<br><br>
		<label for="party-size">用餐人數:</label>
		<input type="text" id="party-size" name="party-size" required v-model="partySize">
		<br><br>
		<label for="member-phone">會員電話:</label>
		<input type="tel" id="member-phone" name="member-phone" placeholder="可直接點餐或快速註冊" v-model="memberPhone">
		<br><br>
		<div class="register-button">
			<button id="register-btn">快速註冊</button>
		</div>
		<div class="register-info">
			<p>尚未成為會員？</p>
		</div>
		<div class="start-order-button">
			<button v-on:click="CheckMember" class="btn btn-outline-warning btn-lg">開始點餐</button>
		</div>
	</form>
</div>
<!-- End -->
<!-- 快速註冊 -->
<div class="dialog-overlay" id="dialog-overlay"></div>
<div class="dialog-container" id="dialog">
	<h3>快速註冊</h3>
	<form>
		<label for="name">姓:</label>
		<input type="text" id="lastname" name="lastname" v-model="lastname" required>
		<label for="name">名:</label>
		<input type="text" id="firstname" name="firstname" v-model="firstname" required>
		<label for="name">帳號:</label>
		<input type="text" id="account" name="account" v-model="account" required>
		<label for="phone">手機號碼(預設密碼):</label>
		<input type="tel" id="phone" name="phone" v-model="phone" required>
		<br>
		<div class="button-container">
			<button class="confirm-btn" v-on:click="Register" data-bs-toggle="modal" data-bs-target="#showModal">確認</button>
			<button class="close-btn" id="close-btn">取消</button>
		</div>
	</form>

	@*modal*@
	<!-- Modal -->
	@*	<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-header">
	<h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black; margin-left:90px;"> {{show}} </h1>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	</div>
	</div>
	</div>*@

</div>

@section Scripts
	{
	<script src="~/axios/axios.min.js"></script>
	<script src="~/orderforhere/orderforherelogin.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script>
		var app = new Vue({
			//el: '#dialog',
			data: {
				memberPhone: '',
				tableNumber: '',
				partySize: '',
				lastname: '',
				firstname: '',
				account: '',
				phone: '',
				show: '',
				showModal: false,
			},
			methods: {
				Register: function () {
					let self = this;
					request = {
						memberid: 0,
						lastname: self.lastname,
						firstname: self.firstname,
						account: self.account,
						phone: self.phone
					};
					//fetch("/api/OrderLoginApi/QuickRegister",{
					//		method: 'POST',
					//		body: JSON.stringify(request),
					//		headers: new Headers({
					//			'Content-type': 'application/json'
					//		})
					//	})
					//	.then(response => console.log("success", response));

					axios.post('/api/OrderLoginApi/QuickRegister', request)
						.then(response => {
							console.log('success', response);
							// modal畫面
							if (response.data == '新增會員成功') {
								//self.showModal = true; // 註冊成功
								//self.show ='新增成功';
								alert('新增成功');

							} else {
								//self.showModal = true; // 註冊失敗
								//self.show = '新增失敗';
								alert('新增失敗');

							}
						})
						.catch(error => {
							console.error('error', error);
							//self.showModal = true; // 註冊失敗
							//self.show = '新增失敗';
							alert('新增失敗');
						});
				},
				CheckMember: function () {
					let self = this;

					axios.get('/api/OrderLoginApi/CheckMember', { Phone: self.phone })
						.then(response => {
							if (responose.data == "開始點餐") {
								setTimeout(() => {
									window.location.href = 'https://localhost:7071/OrderForHere/StartOrder/Index';
								}, 2000);
							}

						})
				};
			}
		}

				})
		app.$mount('#dialog');
		app.$mount('#Login');
	</script>
}

